# Configurações do Administrador
ADMIN_EMAIL=jose.festas@gmail.com

# Configurações de Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jose.festas@gmail.com
SMTP_PASS=Poewrnu1.
SMTP_FROM="3D Produções" <jose.festas@gmail.com>

# Configurações MB Way (Ifthenpay)
IFTHENPAY_MBWAY_KEY=

# Configurações do Firebase (Opcional se usar manual)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
